/* you can add any styles you think could improve user's experience */
.items {
  background-color: grey;
}

.products {
  display: inline-block;
  margin: 2%;
  background-color: #fff;
  text-align: center;
  border-radius: 5%;
}

.products:first-child {
  margin-left: 15%;
}

.products:hover {
  transform: scale(1.2);
}

img {
  border: 2px solid black;
}

.btn {
  background-color: purple;
  border: none;
  color: #fff;
  border-radius: 8%;
  padding: 7%;
  margin-bottom: 5%;
}

.btn:hover {
  background-color: green;
}

.cart {
  background-color: green;
  width: 7%;
  font-size: 115%;
  border-radius: 5%;
  color: #fff;
  margin: 0% 0% 3% 0%;
  text-align: center;
}